*
{
margin: auto;
padding: 5%;

}




.tito
{

background-color: #003049;
color: blueviolet;
border: chartreuse solid 5px;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;

  

}
.aqua
{
text-align: center;
border: black solid;
background-color: cyan;
}
.PPI
{
background-color: forestgreen;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: springgreen solid;
padding: 5px;

}

.lago
{
background-color: aquamarine;
text-align: center;

    border: green solid;
}
.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .tiny5-regular1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: chartreuse;
  }
  .mportance
  {


    background-color: #3f37c9;
    border: #4a4e69 solid;
  }
  .sebas
  {
color: #231942;
font-family: "Tiny5", sans-serif;

  }
.pesorna{
font-family: Arial, Helvetica, sans-serif;


}
.III
{
color: #ffd166;
font-family: "Tiny5", sans-serif;




}
.marco
{
    border: #231942 solid;

    background-color: aqua;
}
.antececedentes
{
font-family: Arial, Helvetica, sans-serif;


}
  .metodo
{
color: #588157;

font-family: "Tiny5", sans-serif;



}
.imagon
{
text-align: center;
background-color: #3f37c9;
border: #13776f solid;
}
.mym
{
border: #132a13 solid;
    background-color: #90a955;
}
.materials
{
font-family: Arial, Helvetica, sans-serif;


}
.meta
{
color: #4a4e69;
font-family: "Tiny5", sans-serif;


}
.mtexto
{

font-family: Arial, Helvetica, sans-serif;

}
.acolar
{
background-color: #3a6ea5;
border: #231942 solid;

}

.miracle
{
background-color: #0a9396;
border: #3a6ea5 solid;




}
.radian
{
  font-family: "Tiny5", sans-serif;
color: #003049;



}
.aguaw
{
font-family: Arial, Helvetica, sans-serif;



}
.conclusions
{
background-color: #3a6ea5;
border: #231942 solid;


}
.maked
{
  font-family: "Tiny5", sans-serif;

color: #3f37c9;
}
.esoco
{
font-family: Arial, Helvetica, sans-serif;


}
.REBL
{
 background-color: #ffd166;
border: skyblue solid;
}
.elx
{
  font-family: "Tiny5", sans-serif;
color: #4a4e69;


}
.mullar
{
font-family: Arial, Helvetica, sans-serif;


}
.anexos
{
background-color: #588157;
border: #132a13 solid;


}
.anex{
  font-family: "Tiny5", sans-serif;
color: darkgreen;


}
.imasen
{
  text-align: center;
}